.bg-violet{
    background-color: #7030a0;
}
.bg-daju{
    background-color: #87286c;
    color: #fff;
}
.bg-royal-blue{
    background-color: #002060;
}
.bg-green{
    background-color: #00ff00;
}
.bg-vivid-sky-blue{
    background-color: #00b0f0;
}
.border-top-left-radius {
    border: 1px transparent;
    border-top-left-radius: 8px;
}
.border-top-right-radius{
    border: 1px transparent;
    border-top-right-radius: 8px;
}
.border-bottom-left-radius {
    border: 1px transparent;
    border-bottom-left-radius: 8px;
}
.border-bottom-right-radius{
    border: 1px transparent;
    border-bottom-right-radius: 8px;
}
.w-75vw{
    width: 75vw;
}
.w-80vw{
    width: 80vw;
}
.w-85vw{
    width: 85vw;
}
.w-5{
    width: 5%;
}
.w-10{
    width: 10%;
}
.w-12{
    width: 12.5%;
}
.w-15{
    width: 15%;
}
.w-16{
    width: 16%;
}
.w-18{
    width: 18.75%;
}
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}
.w-35{
    width: 35%;
}
.table-border td{
    border-bottom: 1px solid #6666667c;
}
.btn-daju{
    background-color: #87286c;
    color: white;
}
.btn-daju:hover{
    background-color: #7030a0;
    color: white;
}
.ph-dark::-webkit-input-placeholder{
    color: rgb(0, 0, 0);
}
@media (max-width: 768px){
    .logo-img{
        display: block;
        width: 60%;
    }
}
/* Desktop grande */
@media (min-width: 768px) {
    /* estilos aqui */
    .wrap-login10{
        align-content: center;
        align-items: center;
      }
}
@media (max-width: 768px) {
    /* estilos aqui */
    .wrap-login10{
        padding: 2px 4px 2px 4px;
    }
    .login100-form{
        margin-top: 20px;
    }
}